<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <form [formGroup]="registerForm">
    <ion-item >
      <ion-label position="floating"> Nombres</ion-label>
      <ion-input formControlName="nombre" type="text" name="nombre" [(ngModel)]=user.nombre></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Apellidos</ion-label>
      <ion-input formControlName="apellido" type="text" name="apellido" [(ngModel)]=user.apellido></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">FechadeNacimiento</ion-label>
      <ion-input disabled="true" formControlName="fechanacimiento" type="text" name="fechanacimiento" [(ngModel)]=user.fechanacimiento></ion-input>
      <ion-button (click)="abrirCalendario()" slot="end"><ion-icon name="calendar" ></ion-icon></ion-button>
      
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Celular</ion-label>
      <ion-input formControlName="celular" type="tel" name="celular" [(ngModel)]=user.celular></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating"> Correo electrónico</ion-label>
      <ion-input formControlName="email" type="email" name="email" [(ngModel)]=user.email></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" > Contraseña</ion-label>
      <ion-input formControlName="password" type="password" name="password" [(ngModel)]=user.password></ion-input>
    </ion-item>
    
      <ion-button expand="block" class="btn button-assertive" (click)="onRegisterIn()">Registrarme</ion-button>
      
   </form>
  </ion-card>
</ion-content>
